.more-menu {
  position: absolute;
  top: 7vh;
  right: 7vw;
  z-index: 101;
  background-color: rgba(130, 198, 207, 0.6);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
  padding: 3vh;
}
